*{
    padding: 0;
    margin: 0;
}

html, body{
    width:100%;
    height:100%;
    display: block;
}

.container{
    width:90%;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
}

.leftBox{
    width: 15%;
    border: 1px solid;
    height:auto;
}

.categoryList{
    width: 100%;
    height:300px;
    overflow-y: scroll;
}

.brandList{
    width: 100%;
    height:300px;
    overflow-y: scroll;
}

.rightBox{
    width: 69%;
    border: 1px solid;
}
.productList{
    
}

.productCard{
    border: 1px solid;
    width:50%;
    flex: 1;
    
}

.productCard img{
    width:50%;
}

.cartPage{
    width:15%;
    border:1px solid;
}

.cartPage img{
    width:50%;
    border-radius: 10%;
}

.cartPage .cardData{
    border-bottom: 2px solid;
}

.cartAddress{
    width:20%;
    height:300px;
    border:1px solid;
}

.cartAddress .addressOne{
    height:50%;
    border-bottom: 1px solid;
}

.addressOne textarea {
    width: 80%;
    height: 80px;
}

.cartAddress .addressTwo{
    height:50%;
}

.addressTwo textarea {
    width: 80%;
    height: 80px;
}